<!DOCTYPE html>
<html xml:lang="en" lang="en">
<head>
    <title>{% block title %}{% trans "Home" %}{% endblock %} &mdash; TopCodingParty</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="shortcut icon" href="{% static "core/img/icon-rss.png" %}">
    <link rel="stylesheet" type="text/css" href="{% static "core/css/screen.css" %}">
    <link rel="apple-touch-icon-precomposed" href="{% static "core/img/touch-icon-57.png" %}">
    <link rel="apple-touch-icon-precomposed" href="{% static "core/img/touch-icon-72.png" %}" sizes="72x72">
    <link rel="apple-touch-icon-precomposed" href="{% static "core/img/touch-icon-114.png" %}" sizes="114x114">
    <link rel="apple-touch-icon-precomposed" href="{% static "core/img/touch-icon-144.png" %}" sizes="144x144">
    {% block css %}{% endblock %}
</head>
<body id="{% block bodyid %}default{% endblock %}">
    <div id="container">
        <div id="header">
            <h1><a href="{% url "core:home" %}">FeedHQ</a></h1>
        </div><!--- #header -->
        <div id="content">
            {% block content %}{% endblock %}
        </div><!--- #content -->
    </div><!--- #container -->
    <div id="footer">
        <div>{% include "footer.html" %}</div>
    </div><!--- #footer -->
    {% block js %}{% endblock %}
</body>
</html>
